In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree  import DecisionTreeClassifier,plot_tree

In [29]:
df=pd.read_csv("weather.csv")
df

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,0.00,2016-01-03,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39,46,32,33,4.33
1,0.00,2016-01-03,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39,47,31,32,3.86
2,0.16,2016-01-03,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46,51,41,35,9.73
3,0.00,2016-01-03,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45,52,38,32,6.86
4,0.01,2016-01-03,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34,38,29,19,7.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16738,0.08,2017-01-01,1,1,2017,Casper,CPR,"Casper, WY",Wyoming,23,32,15,23,19.98
16739,0.00,2017-01-01,1,1,2017,Cheyenne,CYS,"Cheyenne, WY",Wyoming,32,42,21,26,15.16
16740,0.00,2017-01-01,1,1,2017,Lander,LND,"Lander, WY",Wyoming,17,29,4,26,1.65
16741,0.06,2017-01-01,1,1,2017,Rawlins,RWL,"Rawlins, WY",Wyoming,23,31,13,24,18.16
16742,0.10,2017-01-01,1,1,2017,Sheridan,SHR,"Sheridan, WY",Wyoming,21,34,8,23,7.51

In [34]:
label=LabelEncoder()
df["Date.Full"]=label.fit_transform(df["Date.Full"])

df["Station.City"]=label.fit_transform(df["Station.City"])
df["Station.Code"]=label.fit_transform(df["Station.Code"])
df["Station.Location"]=label.fit_transform(df["Station.Location"])
df["Station.State"]=label.fit_transform(df["Station.State"])

df

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,0.00,0,1,3,2016,31,35,31,0,39,46,32,33,4.33
1,0.00,0,1,3,2016,137,151,141,0,39,47,31,32,3.86
2,0.16,0,1,3,2016,189,206,194,0,46,51,41,35,9.73
3,0.00,0,1,3,2016,191,199,196,0,45,52,38,32,6.86
4,0.01,0,1,3,2016,10,15,10,1,34,38,29,19,7.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16738,0.08,52,1,1,2017,47,76,47,52,23,32,15,23,19.98
16739,0.00,52,1,1,2017,52,82,53,52,32,42,21,26,15.16
16740,0.00,52,1,1,2017,160,183,165,52,17,29,4,26,1.65
16741,0.06,52,1,1,2017,228,260,236,52,23,31,13,24,18.16
16742,0.10,52,1,1,2017,257,275,266,52,21,34,8,23,7.51

In [35]:
x=df.drop("Data.Wind.Speed",axis=1)
y=df["Data.Wind.Speed"]
y

0         4.33
1         3.86
2         9.73
3         6.86
4         7.80
         ...
16738    19.98
16739    15.16
16740     1.65
16741    18.16
16742     7.51
Name: Data.Wind.Speed, Length: 16743, dtype: float64

In [36]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=43)
x_train

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction
10720,1.62,33,8,21,2016,49,78,50,50,78,87,69,20
2148,0.14,6,2,14,2016,155,304,160,43,29,35,23,25
8278,0.10,26,7,3,2016,37,29,37,6,73,80,65,23
9381,0.01,29,7,24,2016,14,21,14,37,63,70,56,27
12075,3.18,38,9,25,2016,152,111,157,9,84,89,79,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5534,0.00,17,5,1,2016,115,140,119,26,47,64,30,5
16322,0.27,51,12,25,2016,298,160,309,33,48,59,36,18
5307,0.22,16,4,24,2016,194,41,199,43,67,80,53,24
7985,1.13,25,6,26,2016,131,167,135,11,77,84,70,9
14148,0.00,44,11,6,2016,62,54,64,41,62,75,47,15

In [ ]:
model=DecisionTreeClassifier()
model.fit(x_train,y_train)

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.

In [22]:
y_pred=model.predict(x_test)
y_pred

array([8.4 , 3.44, 9.77, ..., 5.91, 6.74, 3.94], shape=(3349,))

In [23]:
accuracy=accuracy_score(y_pred,y_test)
print(f"accuracy:{accuracy*100:.2f}%")

ValueError: continuous is not supported